<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人任务调度中枢</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 80px;" class="ui container">
        <h1 class="ui center aligned header">待办事项管理系统</h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>任务描述</label>
                <input type="text" name="title" placeholder="请输入任务内容..."><br>
            </div>
            <button class="ui green button" type="submit">添加任务</button>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui segment">
            <p class="ui big header">{{todo.id }} | {{ todo.title }}</p>

            {% if todo.complete == False %}
            <span class="ui gray label">未完成</span>
            {% else %}
            <span class="ui green label">已完成</span>
            {% endif %}

            <a class="ui blue button" href="/update/{{ todo.id }}">切换状态</a>
            <a class="ui red button" href="/delete/{{ todo.id }}">删除</a>
        </div>
        {% endfor %}
        <div class="ui center aligned basic segment"><p>© 2026 入职前学习项目 - 李则良</p></div>
    </div>
</body>

</html>